@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300..700&display=swap");

@font-face{
  font-family:"GL Bader Compress";
  src:url("../assets/font/GL-Bader-Compress-Black.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

/* ===============================
   THEME 
   =============================== */

@theme inline {
  --color-bg: var(--clr-bg);
  --color-text: var(--clr-black);
  --color-description: var(--clr-gray);
  --color-notif: var(--clr-purple);
  --color-warning: var(--clr-amber);
  --color-error: var(--clr-red);
  --color-success: var(--clr-green);

  /* Boutons */
  --color-btn-primary-bg: var(--clr-black);
  --color-btn-primary-fg: var(--clr-white);

  --color-btn-secondary-bg: var(--clr-white);
  --color-btn-secondary-fg: var(--clr-black);
  --color-btn-secondary-st: var(--clr-black);

  /* Typos */
  --font-display:var(--font-gl-bader);
  --font-body:var(--font-roboto);

  /* Radius */
  --radius-btn: var(--radius-30);

}

/* ===============================
   PRIMITIVE TOKENS
   =============================== */

@layer base {
  :root {
    --clr-white: #ffffff;
    --clr-black: #171717; /* noir utilisé pour titres/texte + btn primaire */
    --clr-gray: #737373; /* gris pour descriptions */
    --clr-purple: #5d2de6; /* notif */
    --clr-green: #16a34a; /* success */
    --clr-amber: #f59e0b; /* warning */
    --clr-red: #dc2626; /* error */

    --font-roboto: 'Roboto Condensed', sans-serif;
    --font-gl-bader: 'GL Bader Compress', sans-serif;

    --clr-bg: var(--clr-white);
    --radius-30: 30px;
  }

  .active { border-color: var(--clr-black) !important; }

  .bullets {
    @apply block overflow-hidden border-2 border-black;
  }

  .bullets-grey {
    @apply block overflow-hidden border border-gray-200;
  }
}

